#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Aplica a todo el sitio */
::-webkit-scrollbar {
  width: 40px; /* ancho de la barra vertical */
  height: 8px; /* alto de la barra horizontal */
}

::-webkit-scrollbar-track {
  background: #f0f0f0; /* color de fondo */
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* color de la barra */
  border-radius: 4px; /* esquinas redondeadas */
  border: 2px solid #f0f0f0; /* espacio alrededor del thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

