/* src/index.css */
#root {
  --aqua1: #078080;
  --aqua2: #095a5a;
  --rojizo1: #F45D48;
  --rojizo2: #a53729;
  --blacoso1: #F8F5F2;
  --blacoso2: #acacac;
  --negro1: #131313;
  --negro2: #333333;
  
  min-height: 100vh;        /* Que tome toda la altura visible */
  display: flex;
  flex-direction: column; /* Fondo oscuro igual que body */           /* Texto lila claro */
}


body {
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif; /* fondo oscuro */          /* texto lila claro */
  min-height: 100vh;
}