/* src/index.css */
#root {
  --aqua1: #078080;
  --aqua2: #095a5a;
  --rojizo1: #F45D48;
  --rojizo2: #a53729;
  --blacoso1: #F8F5F2;
  --blacoso2: #acacac;
  --negro1: #131313;
  --negro2: #333333;
  
  min-height: 100vh;        /* Que tome toda la altura visible */
  display: flex;
  flex-direction: column; /* Fondo oscuro igual que body */           /* Texto lila claro */
}


body {
  background-image: url('/fondo.png'); /* Cambia la ruta */
  background-repeat: repeat; /* Repite en X y Y */
  background-size: auto; /* No escala la imagen */
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif; /* fondo oscuro */          /* texto lila claro */
  min-height: 100vh;
}

.footer {
display: flex;
align-items: center;
justify-content: center;
}

.footer > p{
  text-align: center;
}



/* Aplica a todo el sitio */
::-webkit-scrollbar {
  width: 24px; /* ancho de la barra vertical */
  height: 24px; /* alto de la barra horizontal */
}

::-webkit-scrollbar-track {
  background: #181a1a; /* color de fondo */
}

::-webkit-scrollbar-thumb {
  background-color: #F45D48; /* color de la barra */
  border-radius: 10px;
  border: solid 5px #181a1a; /* esquinas redondeadas *//* espacio alrededor del thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a53729;
}
