#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  --aqua1: #078080;
  --aqua2: #095a5a;
  --rojizo1: #f45d48;
  --rojizo2: #a53729;
  --blancoso1: #f8f5f2;
  --blancoso2: #acacac;
  --negro1: #222525;
  --negro2: #333333;
}

body {
  padding: 11rem 3rem;
  font-family: "Josefin Sans", sans-serif; /* fondo oscuro */ /* texto lila claro */
  
}

.inicio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.inicio > div{
   width: 95rem;
}

.descarga {
  display: flex;
  gap: 2rem;
  height: 54rem;
  padding-left: 4rem;
  padding-right: 4rem;
  background-color: white;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-top: 1rem solid var(--aqua1);
  border-bottom: 1rem solid var(--aqua1);
}

.descarga > .info {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 90rem;
  background-color: white;
  padding: 1rem;
}

.descarga > .mockup {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 1rem;
}

.mockup > img {
  height: 40rem;
  border-radius: 3rem;
  transition: transform 0.3s ease;
  box-shadow: 0 0 6rem rgba(119, 19, 19, 0.384);
}

.mockup > img:hover {
  transform: scale(1.04);
}

.info > h1 {
  margin: 0;
  color: #222525;
  font-size: 8rem;
  letter-spacing: -0.2rem;
}

.info > a {
  color: #222525;
  margin: 0;
  font-size: 7rem;
  letter-spacing: -0.2rem;
  font-weight: bolder;
  transition: color 0.3s ease;
  text-decoration: none;
}

.info > a:hover {
  color: var(--rojizo1);
}

.info > h2 {
  text-decoration: none;
  margin: 0;
  color: #222525;
  font-size: 4.5rem;
  font-weight: 650;
  line-height: 5rem;
  letter-spacing: -0.2rem;
}

.informate {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 54rem;
  padding: 4rem;
  background-color: white;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-top: 1rem solid var(--rojizo1);
  border-bottom: 1rem solid var(--rojizo1);
}

.informate > h1 {
  margin: 0;
  color: #222525;
  font-size: 5.7rem;
  letter-spacing: -0.2rem;
  text-align: center;
}

.informate > h2 {
  margin: 0;
  color: #222525;
  font-size: 3.7rem;
  font-weight: 600;
  letter-spacing: -0.2rem;
  margin-bottom: 3rem;
  text-align: center;
}

.informate > img {
  height: 12em;
}

.botonAU {
  font-family: "Josefin Sans", sans-serif;
  background-color: var(--primary);
  color: white;
  border: none;
  padding: 1rem;
  border-radius: 2rem;
  width: 36rem;
  height: 6rem;
  font-size: 4rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.botonAU:hover{
  background-color: var(--aqua2);
  transform: scale(1.05);
}
