#root {
  --aqua1: #078080;
  --aqua2: #095a5a;
  --rojizo1: #f45d48;
  --rojizo2: #a53729;
  --blancoso1: #f8f5f2;
  --blancoso2: #acacac;
  --negro1: #131313;
  --negro2: #333333;
}

body{
  padding: 10rem 3rem;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 6.5rem;
  background-color: var(--negro1);
  color: var(--blancoso1);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 1rem 0.4rem;
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
}


nav a {
  color: var(--blancoso1);
  font-size: 2.3rem;
  text-decoration: none;
  font-weight: bolder;
  transition: color 0.3s ease;
}

nav > .titulo {
  margin-right: 3rem;
}

nav a:hover {
  color: var(--aqua1); /* tono lila más claro en hover */
}

nav .boton {
  border-radius: 1rem;
  background-color: var(--negro1);
  height: 70%;
  width: 15rem;
  margin-left: 4rem;
  font-family: "Josefin Sans", sans-serif;
  border: 0.01rem solid var(--blancoso2);
  color: var(--blancoso1);
  font-size: 2rem;
  text-decoration: none;
  font-weight: bolder;
  transition: color 0.3s ease;
  cursor: pointer;
}

nav > .boton:hover {
background-color: var(--aqua1);
color: var(--blancoso1);
}


/* Oculta la navbar desplazándola hacia arriba */
.oculta {
  transform: translateY(-100%);
}

.logonavbar {
  height: 5rem;
}


