:root {
  --primary: #078080;
  --secondary: #f45d48;
  --light: #f8f5f2;
  --dark: #222525;
  --dark-alt: #232323;
}

body {
  padding: 11rem 3rem;
  font-family: "Josefin Sans", sans-serif; /* fondo oscuro */ /* texto lila claro */
  min-height: 100vh;
}

.titulo > h1 {
  text-align: center;
  color: var(--primary);
  margin-top: 0.5rem;
  font-size: 5rem;
  margin-bottom: 4rem;
}

.servicios {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.servicios > div {
  width: 110rem;
}

.servicios-servicios {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 30rem;
  padding-left: 4rem;
  padding-right: 4rem;
  width: 80%;
  background-color: white;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-top: 0.8rem solid var(--aqua1);
  border-bottom: 0.8rem solid var(--aqua1);
}

.servicios-servicios > h1 {
  text-align: center;
  color: #000000;
  font-size: 4rem;
}

.listaservicios {
  display: flex;
  gap: 4.5rem;
}

.s1, .s2, .s3, .s4, .s5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: lightgrey;
  width: 13rem;
  height: 13rem;
  border-radius: 3rem;
  cursor: pointer;
  transition: transform 0.1s ease;
}

.s1:hover , .s2:hover , .s3:hover , .s4:hover , .s5:hover {
  transform: scale(1.05);
  background-color: gray;
}



.s1> img, .s2> img, .s3> img, .s4> img, .s5 > img{
  height: 8rem;
}

.s1:focus {
  background-color: #f45d48;
}

.servicios-info {
  display: flex;
  gap: 4rem;
  height: 25rem;
  width: 110rem;
}

.servicios-info > div {
  height: 25rem;
  border-radius: 4rem;
  padding: 1rem;
  width: 110rem;
  display: flex;
  background-color: white;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-top: 0.8rem solid var(--secondary);
  border-bottom: 0.8rem solid var(--secondary);
}

.info {
  display: flex;
  justify-content: center;
  text-align: center; 
}

.info > h3 {
  font-size: 7rem;
  font-weight: 900;
}