:root {
  --primary: #078080;
  --secondary: #f45d48;
  --light: #f8f5f2;
  --dark: #222525;
  --dark-alt: #232323;
}

body {
  padding: 11rem 3rem;
  font-family: "Josefin Sans", sans-serif; /* fondo oscuro */ /* texto lila claro */
  min-height: 100vh;
}

.titulo > h1 {
  text-align: center;
  color: var(--primary);
  margin-top: 0.5rem;
  font-size: 4.9rem;
  margin-bottom: 4rem;
}

.servicios {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.servicios-servicios {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 30rem;
  padding-left: 4rem;
  padding-right: 4rem;
  width: 95rem;
  background-color: white;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-top: 1rem solid var(--aqua1);
  border-bottom: 1rem solid var(--aqua1);
}

.servicios-servicios > h1 {
  text-align: center;
  color: #222525;
  font-size: 4rem;
}

.listaservicios {
  display: flex;
  gap: 4.5rem;
}

.s1, .s2, .s3, .s4, .s5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: lightgrey;
  width: 13rem;
  height: 13rem;
  border-radius: 3rem;
  cursor: pointer;
  transition: transform 0.1s ease;
}

.s1:hover , .s2:hover , .s3:hover , .s4:hover , .s5:hover {
  transform: scale(1.05);
  background-color: gray;
}



.s1> img, .s2> img, .s3> img, .s4> img, .s5 > img{
  height: 8rem;
  opacity: 0.85;
  
}

.s1:focus {
  background-color: #f45d48;
}

.servicios-info {
  display: flex;
  gap: 2rem;
  height: 40rem;
  width: 103rem;
  background-color: var(--light);
  justify-content: center;
  align-items: center;
}

.servicios-info > div {
  height: 40rem;
  border-radius: 4rem;
  padding: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  display: flex;
  background-color: white;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-top: 1rem solid var(--secondary);
  border-bottom: 1rem solid var(--secondary);
}

.info {
  display: flex;
  justify-content: center;
  text-align: center; 
  width: 75%;
}

.info > h3 {
  font-size: 4rem;
  font-weight: 900;
  color: #222525;
}

.imagen-servicio {
  width: 25%;
  
}

.servicios-info > .imagen-servicio > img{
  height: 35rem;
  border-radius: 3rem;
  border: 0.8rem solid #1a1b1b;
}